@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminLabInputModel
@inject IViewLocalizer Localizer
@{
}

<div class="mb-3">
    <label class="form-label" asp-for="Name">@Localizer["Form:Name"]</label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="SortIndex">@Localizer["Form:SortIndex"]</label>
    <input asp-for="SortIndex" class="form-control">
    <span asp-validation-for="SortIndex" class="text-danger"></span>
    <small class="text-muted">
        @Localizer["Form:SortIndex:Description"]
    </small>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="ServerBaseUrl">@Localizer["Form:ServerBaseUrl"]</label>
    <input asp-for="ServerBaseUrl" class="form-control">
    <span asp-validation-for="ServerBaseUrl" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="ApiCode">@Localizer["Form:ApiCode"]</label> 
    <div class="input-group">
        <input asp-for="ApiCode" class="form-control" id="input-api-code">
        <button class="btn btn-secondary" type="button" id="generate-api-code" title="@Localizer["Form:GenerateApiCode"]">
            <i class="bi bi-shuffle"></i>
        </button>
    </div>
    <span asp-validation-for="ApiCode" class="text-danger"></span> 
</div>
<div class="mb-3">
    <label class="form-label" asp-for="MaxPoints">@Localizer["Form:MaxPoints"]</label>
    <input asp-for="MaxPoints" class="form-control">
    <span asp-validation-for="MaxPoints" class="text-danger"></span>
    <small class="text-muted">
        @Localizer["Form:MaxPoints:Description"]
    </small>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="MaxFlagPoints">@Localizer["Form:MaxFlagPoints"]</label>
    <input asp-for="MaxFlagPoints" class="form-control">
    <span asp-validation-for="MaxFlagPoints" class="text-danger"></span>
    <small class="text-muted">
        @Localizer["Form:MaxFlagPoints:Description"]
    </small>
</div>
<div class="mb-3">
    <div class="form-check">
        <input asp-for="Visible" class="form-check-input">
        <label asp-for="Visible" class="form-check-label">@Localizer["Form:Visible"]</label>
        <br>
        <small class="form-text text-muted">
            @Localizer["Form:Visible:Description"]
        </small>
    </div>
</div>                     

<script>
    window.addEventListener("load", () => {
        const generateApiCodeButton = document.getElementById("generate-api-code");
        const apiCodeInput = document.getElementById("input-api-code");
                                                                       
        generateApiCodeButton.addEventListener("click", () =>
        {
            let apiCode = new Uint8Array(16);
            window.crypto.getRandomValues(apiCode);
            
            apiCodeInput.value = Array.from(apiCode, byte => byte.toString(16).padStart(2, "0")).join("");
        });                                                               
    });
</script>