@model List<Ctf4e.Server.Models.Group>
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Models
@using Ctf4e.Server.Authorization
@inject IViewLocalizer _localizer
@{
    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="float-end">
    @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditGroups))
    {
        <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminGroups" asp-action="ShowCreateGroupForm">
            <i class="bi bi-plus"></i>
            @_localizer["CreateGroup"]
        </a>
    }
</div>

<h1 class="header">
    @_localizer["Title"]
</h1>
<hr class="header">

<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">@_localizer["Groups:ID"]</th>
        <th scope="col">@_localizer["Groups:Slot"]</th>
        <th scope="col">@_localizer["Groups:Name"]</th>
        <th scope="col">@_localizer["Groups:ScoreboardAnnotation"]</th>
        <th scope="col">@_localizer["Groups:Members"]</th>
        <th scope="col">@_localizer["Groups:ShowInScoreboard"]</th>
        <th scope="col">@_localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var g in Model)
    {
        <tr>
            <td>@g.Id</td>
            <td>@g.Slot.Name</td>
            <td>@g.DisplayName</td>
            <td>
                <span title="@(g.ScoreboardAnnotationHoverText ?? "")">@(g.ScoreboardAnnotation ?? "")</span>
            </td>
            <td>@g.Members.Count</td>
            <td>
                @if(g.ShowInScoreboard)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditGroups))
                {
                    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminGroups" asp-action="ShowEditGroupForm" asp-route-id="@g.Id">
                        <i class="bi bi-pencil"></i>
                        @_localizer["Edit"]
                    </a>
                    @if(!g.Members.Any())
                    {
                        <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-group" data-groupid="@g.Id" data-groupname="@g.DisplayName">
                            <i class="bi bi-trash"></i>
                            @_localizer["Delete"]
                        </a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-group" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Modal:DeleteGroup:Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @_localizer["Modal:DeleteGroup:Body"]
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminGroups" asp-action="DeleteGroup" method="post">
                    <input type="hidden" data-replace="group-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">@_localizer["Modal:DeleteGroup:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localizer["Cancel"]Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-group").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="group-id"]').value = e.relatedTarget.dataset.groupid;
    e.target.querySelector('span[data-replace="group-name"]').innerText = e.relatedTarget.dataset.groupname;
});

window.addEventListener("load", table_sorting);
</script>

@if(currentUser.Privileges.HasPrivileges(UserPrivileges.TransferResults))
{
    <a class="btn btn-primary mb-2" asp-controller="AdminGroups" asp-action="DownloadAsJson">
        <i class="bi bi-download"></i>
        @_localizer["DownloadJson"]
    </a>
}