@model List<Ctf4e.Server.Models.Lab>

<h3 class="text-primary">
    Praktika verwalten
</h3>
<hr class="bg-primary" style="height: 2px">

<a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabs" asp-action="ShowCreateLabForm">
    <span class="oi oi-plus"></span>
    Praktikum erstellen
</a>
<table class="table table-sm table-bordered table-hover text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Aufgaben</th>
        <th scope="col">Flags</th>
        <th scope="col">Max. Flag-Punkte</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var l in Model)
    {
        <tr>
            <td>@l.Id</td>
            <td>@l.Name</td>
            <td>
                <a asp-controller="AdminExercises" asp-action="RenderExerciseList" asp-route-labId="@l.Id" title="Aufgabenliste öffnen">
                    <span class="oi oi-list"></span>
                </a>
                @l.Exercises.Count
            </td>
            <td>
                <a asp-controller="AdminFlags" asp-action="RenderFlagList" asp-route-labId="@l.Id" title="Flagliste öffnen">
                    <span class="oi oi-list"></span>
                </a>
                @l.Flags.Count
            </td>
            <td>@l.MaxFlagPoints</td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabs" asp-action="ShowEditLabForm" asp-route-id="@l.Id">
                    <span class="oi oi-pencil"></span>
                    Bearbeiten
                </a>
                @if(!l.Executions.Any())
                {
                    <a role="button" class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#modal-delete-lab" data-lab-id="@l.Id" data-lab-name="@l.Name">
                        <span class="oi oi-trash"></span>
                        Löschen
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-lab" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Praktikum löschen</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Wollen Sie das Praktikum &quot;<span data-replace="lab-name"></span>&quot; wirklich löschen?
                </p>
                <p>
                    Beachten Sie, dass hierbei auch alle damit zusammenhängenden Aufgaben und Flags unwiderruflich gelöscht werden!
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminLabs" asp-action="DeleteLab" method="post">
                    <input type="hidden" data-replace="lab-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">Praktikum löschen</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        $('#modal-delete-lab').on('show.bs.modal', function (e) {
            var labId = $(e.relatedTarget).data('lab-id');
            var labName = $(e.relatedTarget).data('lab-name');
            $(e.currentTarget).find('span[data-replace="lab-name"]').text(labName);
            $(e.currentTarget).find('input[data-replace="lab-id"]').val(labId);
        });
    </script>