@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<LabExecution>
@{
    var slots = (List<Slot>)ViewData["Slots"];
    var labs = (List<Lab>)ViewData["Labs"];
}

<h3 class="header">
    @Localizer["Title"]
</h3>
<hr class="header">


@Localizer["Explanation"]
<p>
    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabExecutions" asp-action="ShowCreateLabExecutionForGroupForm">
        <i class="bi bi-plus"></i>
        @Localizer["StartForOneGroup"]
    </a>
</p>
<p>
    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabExecutions" asp-action="ShowCreateLabExecutionForSlotForm">
        <i class="bi bi-plus"></i>
        @Localizer["StartForSlot"]
    </a>
    <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-lab-execution-slot">
        <i class="bi bi-trash"></i>
        @Localizer["StopForSlot"]
    </a>
</p>
<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">@Localizer["LabExecutions:Group"]</th>
        <th scope="col">@Localizer["LabExecutions:Lab"]</th>
        <th scope="col">@Localizer["LabExecutions:PreStart"]</th>
        <th scope="col">@Localizer["LabExecutions:Begin"]</th>
        <th scope="col">@Localizer["LabExecutions:End"]</th>
        <th scope="col">@Localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var l in Model)
    {
        <tr>
            <td>#@l.GroupId: @l.Group.DisplayName</td>
            <td>@l.Lab.Name</td>
            <td>@l.PreStart.ToString(DateTimeFormats.DateAndTimeMinutes)</td>
            <td>@l.Start.ToString(DateTimeFormats.DateAndTimeMinutes)</td>
            <td>@l.End.ToString(DateTimeFormats.DateAndTimeMinutes)</td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabExecutions" asp-action="ShowEditLabExecutionForm" asp-route-groupId="@l.GroupId" asp-route-labId="@l.LabId">
                    <i class="bi bi-pencil"></i>
                    @Localizer["Edit"]
                </a>
                <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-lab-execution-group" data-groupid="@l.GroupId" data-labid="@l.LabId" data-groupname="@l.Group.DisplayName" data-labname="@l.Lab.Name">
                    <i class="bi bi-trash"></i>
                    @Localizer["Delete"]
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-lab-execution-group" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Modal:DeleteLabExecutionGroup:Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["Modal:DeleteLabExecutionGroup:Body"]
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminLabExecutions" asp-action="DeleteLabExecutionForGroup" method="post">
                    <input type="hidden" data-replace="group-id" name="groupId" value="">
                    <input type="hidden" data-replace="lab-id" name="labId" value="">
                    
                    <button type="submit" class="btn btn-outline-danger">@Localizer["Modal:DeleteLabExecutionGroup:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-delete-lab-execution-slot" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="AdminLabExecutions" asp-action="DeleteLabExecutionForSlot" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">@Localizer["Modal:DeleteLabExecutionsSlot:Title"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Localizer["Modal:DeleteLabExecutionsSlot:Body"]
                    <div class="mb-3">
                        <label class="form-label">@Localizer["Modal:DeleteLabExecutionsSlot:Form:Lab"]</label>
                        <select name="labId" asp-items="@(new SelectList(labs, nameof(Lab.Id), nameof(Lab.Name)))" class="form-control">
                            <option value="" disabled selected>@Localizer["Modal:DeleteLabExecutionsSlot:Form:Lab:Placeholder"]</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">@Localizer["Modal:DeleteLabExecutionsSlot:Form:Slot"]</label>
                        <select name="slotId" asp-items="@(new SelectList(slots, nameof(Slot.Id), nameof(Slot.Name)))" class="form-control">
                            <option value="" disabled selected>@Localizer["Modal:DeleteLabExecutionsSlot:Form:Slot:Placeholder"]</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger">@Localizer["Modal:DeleteLabExecutionsSlot:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-lab-execution-group").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="group-id"]').value = e.relatedTarget.dataset.groupid;
    e.target.querySelector('span[data-replace="group-name"]').innerText = e.relatedTarget.dataset.groupname;
    e.target.querySelector('input[data-replace="lab-id"]').value = e.relatedTarget.dataset.labid;
    e.target.querySelector('span[data-replace="lab-name"]').innerText = e.relatedTarget.dataset.labname;
});
</script>