@model List<Ctf4e.Server.Models.User>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

<h3 class="header">
    @_localizer["Title"]
</h3>
<hr class="header">

<table class="table table-sm table-bordered table-hover align-middle text-nowrap">
    <thead>
    <tr>
        <th scope="col">@_localizer["Users:Id"]</th>
        <th scope="col">@_localizer["Users:Name"]</th>
        <th scope="col">@_localizer["Users:MoodleAccount"]</th>
        <th scope="col">@_localizer["Users:GroupCode"]</th>
        <th scope="col">@_localizer["Users:GroupId"]</th>
        <th scope="col">@_localizer["Users:Status"]</th>
        <th scope="col">@_localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.DisplayName</td>
            <td>@u.MoodleName (#@u.MoodleUserId)</td>
            <td>@u.GroupFindingCode</td>
            <td>
                @if(u.GroupId != null)
                {
                    <a asp-controller="AdminGroups" asp-action="EditGroup" asp-route-id="@u.GroupId" title="@_localizer["Users:EditGroup:Text"]">
                        <i class="bi bi-people"></i>
                        #@u.GroupId
                    </a>                    
                }
            </td>
            <td>
                @if(u.IsAdmin)
                {
                    <i class="bi bi-star-fill" style="color: rgb(255, 204, 1);" title="@_localizer["Users:IsAdmin:Text"]"></i>
                }
                else if(u.IsTutor)
                {
                    <i class="bi bi-star-fill" style="color: rgb(209, 166, 132);" title="@_localizer["Users:IsTutor:Text"]"></i>
                }
            </td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminUsers" asp-action="ShowEditUserForm" asp-route-id="@u.Id">
                    <i class="bi bi-pencil"></i>
                    @_localizer["Edit"]
                </a>
                <environment include="Development">
                    <a role="button" class="btn btn-sm btn-secondary" asp-controller="Authentication" asp-action="AdminLoginAsUser" asp-route-userId="@u.Id" title="Als diesen Benutzer einloggen">
                        <i class="bi bi-box-arrow-in-right"></i>
                        @_localizer["Login"]
                    </a>
                </environment>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
window.addEventListener("load", e => table_sorting());
</script>