@model List<Ctf4e.Server.Models.User>

<h3 class="header">
    Benutzer verwalten
</h3>
<hr class="header">

<table class="table table-sm table-bordered table-hover align-middle text-nowrap">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Moodle-Account</th>
        <th scope="col">Gruppencode</th>
        <th scope="col">Gruppen-ID</th>
        <th scope="col">Status</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.DisplayName</td>
            <td>@u.MoodleName (#@u.MoodleUserId)</td>
            <td>@u.GroupFindingCode</td>
            <td>
                @if(u.GroupId != null)
                {
                    <a asp-controller="AdminGroups" asp-action="EditGroup" asp-route-id="@u.GroupId" title="Gruppe bearbeiten">
                        <i class="bi bi-people"></i>
                        #@u.GroupId
                    </a>                    
                }
            </td>
            <td>
                @if(u.IsAdmin)
                {
                    <i class="bi bi-star-fill" style="color: rgb(255, 204, 1);" title="Hat Administratorrechte"></i>
                }
                else if(u.IsTutor)
                {
                    <i class="bi bi-star-fill" style="color: rgb(209, 166, 132);" title="Hat Tutorrechte"></i>
                }
            </td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminUsers" asp-action="ShowEditUserForm" asp-route-id="@u.Id">
                    <i class="bi bi-pencil"></i>
                    Bearbeiten
                </a>
                <environment include="Development">
                    <a role="button" class="btn btn-sm btn-secondary" asp-controller="Authentication" asp-action="AdminLoginAsUser" asp-route-userId="@u.Id" title="Als diesen Benutzer einloggen">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Einloggen
                    </a>
                </environment>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
  window.onload = () => table_sorting();
</script>