@model List<Ctf4e.Server.ViewModels.AdminSlotListEntry>
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Models
@using Ctf4e.Server.Authorization
@inject IViewLocalizer Localizer
@{
    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="float-end">
    @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditSlots))
    {
        <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminSlots" asp-action="ShowCreateSlotForm">
            <i class="bi bi-plus"></i>
            @Localizer["CreateSlot"]
        </a>
    }
</div>

<h1 class="header">
    @Localizer["Title"]
</h1>
<hr class="header">


<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">@Localizer["Slots:ID"]</th>
        <th scope="col">@Localizer["Slots:Name"]</th>
        <th scope="col">@Localizer["Slots:Groups"]</th>
        <th scope="col">@Localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach(var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.GroupCount</td>
            <td>
                @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditSlots))
                {
                    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminSlots" asp-action="ShowEditSlotForm" asp-route-id="@s.Id">
                        <i class="bi bi-pencil"></i>
                        @Localizer["Edit"]
                    </a>
                    @if(s.GroupCount == 0)
                    {
                        <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-slot" data-slotid="@s.Id" data-slotname="@s.Name">
                            <i class="bi bi-trash"></i>
                            @Localizer["Delete"]
                        </a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-slot" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Modal:DeleteSlot:Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["Modal:DeleteSlot:Body"]
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminSlots" asp-action="DeleteSlot" method="post">
                    <input type="hidden" data-replace="slot-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">@Localizer["Modal:DeleteSlot:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-slot").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="slot-id"]').value = e.relatedTarget.dataset.slotid;
    e.target.querySelector('span[data-replace="slot-name"]').innerText = e.relatedTarget.dataset.slotname;
});
</script>