@model List<Ctf4e.Server.Models.Group>

<h3 class="header">
    Gruppen verwalten
</h3>
<hr class="header">

<a role="button" class="btn btn-sm btn-primary" asp-controller="AdminGroups" asp-action="ShowCreateGroupForm">
    <i class="bi bi-plus"></i>
    Gruppe erstellen
</a>
<table class="table table-sm table-bordered table-hover text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Slot</th>
        <th scope="col">Name</th>
        <th scope="col">Mitglieder</th>
        <th scope="col">Scoreboard?</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var g in Model)
    {
        <tr>
            <td>@g.Id</td>
            <td>@g.Slot.Name</td>
            <td>@g.DisplayName</td>
            <td>@g.Members.Count</td>
            <td>
                @if(g.ShowInScoreboard)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminGroups" asp-action="ShowEditGroupForm" asp-route-id="@g.Id">
                    <i class="bi bi-pencil"></i>
                    Bearbeiten
                </a>
                @if(!g.Members.Any())
                {
                    <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-group" data-groupid="@g.Id" data-groupname="@g.DisplayName">
                        <i class="bi bi-trash"></i>
                        Löschen
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-group" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gruppe löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Wollen Sie die Gruppe &quot;<span data-replace="group-name"></span>&quot; wirklich löschen?
                </p>
                <p>
                    Alle mit dieser Gruppe verbundenen Aufgaben- und Flag-Einreichungen werden unwiderruflich gelöscht.
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminGroups" asp-action="DeleteGroup" method="post">
                    <input type="hidden" data-replace="group-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">Gruppe löschen</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-group").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="group-id"]').value = e.relatedTarget.dataset.groupid;
    e.target.querySelector('span[data-replace="group-name"]').innerText = e.relatedTarget.dataset.groupname;
});
</script>