@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model User
@{
    var groups = (List<Group>)ViewData["Groups"];
}

<h3 class="header">
    @_localizer["Title"]
</h3>
<hr class="header">

<form asp-controller="AdminUsers" asp-action="EditUser" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="DisplayName">@_localizer["Form:DisplayName"]</label>
        <input asp-for="DisplayName" class="form-control">
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">@_localizer["Form:MoodleName"]</label>
        <input asp-for="MoodleName" class="form-control" readonly="readonly">
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="IsAdmin" class="form-check-input">
            <label asp-for="IsAdmin" class="form-check-label">@_localizer["Form:IsAdmin"]</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="IsTutor" class="form-check-input">
            <label asp-for="IsTutor" class="form-check-label">@_localizer["Form:IsTutor"]</label>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="GroupFindingCode">@_localizer["Form:GroupFindingCode"]</label>
        <input asp-for="GroupFindingCode" class="form-control">
        <span asp-validation-for="GroupFindingCode" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="GroupId">@_localizer["Form:GroupId"]</label>
        <select asp-for="GroupId" asp-items="@(new SelectList(groups, nameof(Group.Id), nameof(Group.DisplayName)))" class="form-control">
            <option value="" selected>@_localizer["Form:GroupId:None"]</option>
        </select>
    </div>

    <input asp-for="Id" type="hidden">

    <button type="submit" class="btn btn-primary">@_localizer["Form:Submit"]</button>
    <a asp-controller="AdminUsers" asp-action="RenderUserList" class="btn btn-secondary">@_localizer["Form:Cancel"]</a>
</form>