@model List<Ctf4e.Server.Models.Slot>

<div class="float-end">
    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminSlots" asp-action="ShowCreateSlotForm">
        <i class="bi bi-plus"></i>
        Slot erstellen
    </a>
</div>

<h3 class="header">
    Slots verwalten
</h3>
<hr class="header">


<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gruppen</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Groups.Count</td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminSlots" asp-action="ShowEditSlotForm" asp-route-id="@s.Id">
                    <i class="bi bi-pencil"></i>
                    Bearbeiten
                </a>
                @if(!s.Groups.Any())
                {
                    <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-slot" data-slotid="@s.Id" data-slotname="@s.Name">
                        <i class="bi bi-trash"></i>
                        Löschen
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-slot" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Slot löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Wollen Sie den Slot &quot;<span data-replace="slot-name"></span>&quot; wirklich löschen?
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminSlots" asp-action="DeleteSlot" method="post">
                    <input type="hidden" data-replace="slot-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">Slot löschen</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-slot").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="slot-id"]').value = e.relatedTarget.dataset.slotid;
    e.target.querySelector('span[data-replace="slot-name"]').innerText = e.relatedTarget.dataset.slotname;
});
</script>