@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model List<LabExecution>
@{
    var slots = (List<Slot>)ViewData["Slots"];
    var labs = (List<Lab>)ViewData["Labs"];
}

<h3 class="header">
    @_localizer["Title"]
</h3>
<hr class="header">


@_localizer["Explanation"]
<p>
    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabExecutions" asp-action="ShowCreateLabExecutionForGroupForm">
        <i class="bi bi-plus"></i>
        @_localizer["StartForOneGroup"]
    </a>
</p>
<p>
    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabExecutions" asp-action="ShowCreateLabExecutionForSlotForm">
        <i class="bi bi-plus"></i>
        @_localizer["StartForSlot"]
    </a>
    <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-lab-execution-slot">
        <i class="bi bi-trash"></i>
        @_localizer["StopForSlot"]
    </a>
</p>
<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2" id="table-lab-executions">
    <thead>
    <tr>
        <th scope="col">
            @_localizer["LabExecutions:Group"]
            <input type="text" id="input-filter-group" class="form-control form-control-sm d-inline w-auto ms-2" placeholder="@_localizer["LabExecutions:Group:Filter"]">
        </th>
        <th scope="col">
            @_localizer["LabExecutions:Lab"]
            <input type="text" id="input-filter-lab" class="form-control form-control-sm d-inline w-auto ms-2" placeholder="@_localizer["LabExecutions:Lab:Filter"]">
        </th>
        <th scope="col">@_localizer["LabExecutions:PreStart"]</th>
        <th scope="col">@_localizer["LabExecutions:Begin"]</th>
        <th scope="col">@_localizer["LabExecutions:End"]</th>
        <th scope="col">@_localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var l in Model)
    {
        <tr>
            <td data-content="group">#@l.GroupId: @l.Group.DisplayName</td>
            <td data-content="lab">@l.Lab.Name</td>
            <td>@l.PreStart.ToString(DateTimeFormats.DateAndTimeMinutes)</td>
            <td>@l.Start.ToString(DateTimeFormats.DateAndTimeMinutes)</td>
            <td>@l.End.ToString(DateTimeFormats.DateAndTimeMinutes)</td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminLabExecutions" asp-action="ShowEditLabExecutionForm" asp-route-groupId="@l.GroupId" asp-route-labId="@l.LabId">
                    <i class="bi bi-pencil"></i>
                    @_localizer["Edit"]
                </a>
                <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-lab-execution-group" data-groupid="@l.GroupId" data-labid="@l.LabId" data-groupname="@l.Group.DisplayName" data-labname="@l.Lab.Name">
                    <i class="bi bi-trash"></i>
                    @_localizer["Delete"]
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-lab-execution-group" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Modal:DeleteLabExecutionGroup:Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @_localizer["Modal:DeleteLabExecutionGroup:Body"]
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminLabExecutions" asp-action="DeleteLabExecutionForGroup" method="post">
                    <input type="hidden" data-replace="group-id" name="groupId" value="">
                    <input type="hidden" data-replace="lab-id" name="labId" value="">
                    
                    <button type="submit" class="btn btn-outline-danger">@_localizer["Modal:DeleteLabExecutionGroup:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-delete-lab-execution-slot" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="AdminLabExecutions" asp-action="DeleteLabExecutionForSlot" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">@_localizer["Modal:DeleteLabExecutionsSlot:Title"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @_localizer["Modal:DeleteLabExecutionsSlot:Body"]
                    <div class="mb-3">
                        <label class="form-label">@_localizer["Modal:DeleteLabExecutionsSlot:Form:Lab"]</label>
                        <select name="labId" asp-items="@(new SelectList(labs, nameof(Lab.Id), nameof(Lab.Name)))" class="form-control">
                            <option value="" disabled selected>@_localizer["Modal:DeleteLabExecutionsSlot:Form:Lab:Placeholder"]</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">@_localizer["Modal:DeleteLabExecutionsSlot:Form:Slot"]</label>
                        <select name="slotId" asp-items="@(new SelectList(slots, nameof(Slot.Id), nameof(Slot.Name)))" class="form-control">
                            <option value="" disabled selected>@_localizer["Modal:DeleteLabExecutionsSlot:Form:Slot:Placeholder"]</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger">@_localizer["Modal:DeleteLabExecutionsSlot:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localizer["Cancel"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-lab-execution-group").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="group-id"]').value = e.relatedTarget.dataset.groupid;
    e.target.querySelector('span[data-replace="group-name"]').innerText = e.relatedTarget.dataset.groupname;
    e.target.querySelector('input[data-replace="lab-id"]').value = e.relatedTarget.dataset.labid;
    e.target.querySelector('span[data-replace="lab-name"]').innerText = e.relatedTarget.dataset.labname;
});

function filterTable()
{
    let groupFilter = new RegExp(document.getElementById("input-filter-group").value, "i");
    let labFilter = new RegExp(document.getElementById("input-filter-lab").value, "i");
    
    // Run through table rows and filter
    let table = document.getElementById("table-lab-executions");
    for(let row of table.rows)
    {            
        let groupCell = row.querySelector('td[data-content="group"]');
        if(groupCell && !groupFilter.test(groupCell.innerHTML))
        {
            row.classList.add("d-none");
            continue;
        }
        
        let labCell = row.querySelector('td[data-content="lab"]');
        if(labCell && !labFilter.test(labCell.innerHTML))
        {
            row.classList.add("d-none");
            continue;
        }
        
        row.classList.remove("d-none");
    }
}

document.getElementById("input-filter-group").addEventListener("keyup", filterTable);
document.getElementById("input-filter-lab").addEventListener("keyup", filterTable);
</script>