@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@model Group
@{
    var slots = (List<Slot>)ViewData["Slots"];
}

<h3 class="header">
    @_localizer["Title"]
</h3>
<hr class="header">

<form asp-controller="AdminGroups" asp-action="CreateGroup" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="DisplayName">@_localizer["Form:DisplayName"]</label>
        <input asp-for="DisplayName" class="form-control">
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ScoreboardAnnotation">@_localizer["Form:ScoreboardAnnotation"]</label>
        <input asp-for="ScoreboardAnnotation" class="form-control">
        <span asp-validation-for="ScoreboardAnnotation" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ScoreboardAnnotationHoverText">@_localizer["Form:ScoreboardAnnotationHoverText"]</label>
        <input asp-for="ScoreboardAnnotationHoverText" class="form-control">
        <span asp-validation-for="ScoreboardAnnotationHoverText" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="SlotId">@_localizer["Form:SlotId"]</label>
        <select asp-for="SlotId" asp-items="@(new SelectList(slots, nameof(Slot.Id), nameof(Slot.Name)))" class="form-control">
            <option disabled selected>@_localizer["Form:SlotId:Placeholder"]</option>
        </select>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="ShowInScoreboard" class="form-check-input">
            <label asp-for="ShowInScoreboard" class="form-check-label">@_localizer["Form:ShowInScoreboard"]</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@_localizer["Form:Submit"]</button>
    <a asp-controller="AdminGroups" asp-action="RenderGroupList" class="btn btn-secondary">@_localizer["Form:Cancel"]</a>
</form>