@model Ctf4e.Server.Models.Lab
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

<h1 class="header">
    @_localizer["Title"]
</h1>
<hr class="header">

<form asp-controller="AdminLabs" asp-action="EditLab" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">@_localizer["Form:Name"]</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ServerBaseUrl">@_localizer["Form:ServerBaseUrl"]</label>
        <input asp-for="ServerBaseUrl" class="form-control">
        <span asp-validation-for="ServerBaseUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ApiCode">@_localizer["Form:ApiCode"]</label>
        <input asp-for="ApiCode" class="form-control">
        <span asp-validation-for="ApiCode" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="MaxPoints">@_localizer["Form:MaxPoints"]</label>
        <input asp-for="MaxPoints" class="form-control">
        <span asp-validation-for="MaxPoints" class="text-danger"></span>
        <small class="text-muted">
            @_localizer["Form:MaxPoints:Description"]
        </small>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="MaxFlagPoints">@_localizer["Form:MaxFlagPoints"]</label>
        <input asp-for="MaxFlagPoints" class="form-control">
        <span asp-validation-for="MaxFlagPoints" class="text-danger"></span>
        <small class="text-muted">
            @_localizer["Form:MaxFlagPoints:Description"]
        </small>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input asp-for="Visible" class="form-check-input">
            <label asp-for="Visible" class="form-check-label">@_localizer["Form:Visible"]</label>
            <br>
            <small class="form-text text-muted">
                @_localizer["Form:Visible:Description"]
            </small>
        </div>
    </div>
    
    @if(Model.Exercises?.Any() == true)
    {
        <div class="mb-3">
            <label class="form-label">@_localizer["Exercises"]</label>
            <table class="table table-sm table-bordered table-hover text-nowrap">
                <tbody>
                @foreach(var e in Model.Exercises)
                {
                    <tr>
                        <td>@e.Name (#@e.Id / Nr. @e.ExerciseNumber)</td>
                        <td>
                            <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminExercises" asp-action="ShowEditExerciseForm" asp-route-id="@e.Id">
                                <i class="bi bi-pencil"></i>
                                @_localizer["Exercises:Edit"]
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    @if(Model.Flags?.Any() == true)
    {
        <div class="mb-3">
            <label class="form-label">@_localizer["Flags"]</label>
            <table class="table table-sm table-bordered table-hover text-nowrap">
                <tbody>
                @foreach(var f in Model.Flags)
                {
                    <tr>
                        <td>@f.Description (#@f.Id)</td>
                        <td>
                            <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminFlags" asp-action="ShowEditFlagForm" asp-route-id="@f.Id">
                                <i class="bi bi-pencil"></i>
                                @_localizer["Flags:Edit"]
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <input asp-for="Id" type="hidden">

    <button type="submit" class="btn btn-primary">@_localizer["Form:Submit"]</button>
    <a asp-controller="AdminLabs" asp-action="RenderLabList" class="btn btn-secondary">@_localizer["Form:Cancel"]</a>
</form>