@using Ctf4e.Server.Models
@model List<Exercise>
@{
    var lab = (Lab)ViewData["Lab"];
}

<div class="float-end">
    <a class="btn btn-sm btn-secondary" asp-controller="AdminLabs" asp-action="RenderLabList">
        <i class="bi bi-arrow-left"></i>
        Zurück
    </a>
    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminExercises" asp-action="ShowCreateExerciseForm" asp-route-labId="@lab.Id">
        <i class="bi bi-plus"></i>
        Aufgabe erstellen
    </a>
</div>

<h3 class="header">
    Aufgaben von Praktikum &quot;@lab.Name&quot; verwalten
</h3>
<hr class="header">


<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nr.</th>
        <th scope="col">Name</th>
        <th scope="col">Basispunktzahl</th>
        <th scope="col">Strafpunkte</th>
        <th scope="col">Pflicht</th>
        <th scope="col">Vor-Beginn</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var e in Model)
    {
        <tr>
            <td>@e.Id</td>
            <td>@e.ExerciseNumber</td>
            <td>@e.Name</td>
            <td>@e.BasePoints</td>
            <td>@e.PenaltyPoints</td>
            <td>
                @if(e.IsMandatory)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                @if(e.IsPreStartAvailable)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminExercises" asp-action="ShowEditExerciseForm" asp-route-id="@e.Id">
                    <i class="bi bi-pencil"></i>
                    Bearbeiten
                </a>
                <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-exercise" data-exerciseid="@e.Id" data-exercisename="@e.Name">
                    <i class="bi bi-trash"></i>
                    Löschen
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-exercise" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aufgabe löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Wollen Sie die Aufgabe &quot;<span data-replace="exercise-name"></span>&quot; wirklich löschen?
                </p>
                <p>
                    Beachten Sie, dass hierbei auch alle bereits abgeschickten Lösungsversuche unwiderruflich gelöscht werden!
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminExercises" asp-action="DeleteExercise" method="post">
                    <input type="hidden" data-replace="exercise-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">Aufgabe löschen</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-exercise").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="exercise-id"]').value = e.relatedTarget.dataset.exerciseid;
    e.target.querySelector('span[data-replace="exercise-name"]').innerText = e.relatedTarget.dataset.exercisename;
});
</script>