@using Microsoft.AspNetCore.Mvc.Localization
@model Ctf4e.Server.ViewModels.AdminScoreboard
@inject IViewLocalizer Localizer

<h3 class="header">
    @Localizer["Title"]
</h3>
<hr class="header">

<table class="table table-sm" id="flags-table">
    <thead>
    <tr>
        <th></th>
        <th scope="col">@Localizer["Flags:Description"]</th>
        <th scope="col">@Localizer["Flags:Submissions"]</th>
        <th scope="col">@Localizer["Flags:Points"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var flag in Model.Flags)
    {
        <tr>
            <th scope="row">#@flag.Flag.Id</th>
            <td>
                @flag.Flag.Description
                @if(flag.Flag.IsBounty)
                {
                    <i class="bi bi-bug-fill text-primary" title="@Localizer["BugBounty"]"></i>
                }
            </td>
            <td>
                @flag.SubmissionCount
            </td>
            <td>
                @flag.CurrentPoints / @flag.Flag.BasePoints
            </td>
        </tr>
    }
    </tbody>
</table>