@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Authorization
@inject IViewLocalizer _localizer
@model List<Exercise>
@{
    var lab = (Lab)ViewData["Lab"];
    
    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="float-end">
    <a class="btn btn-sm btn-secondary" asp-controller="AdminLabs" asp-action="RenderLabList">
        <i class="bi bi-arrow-left"></i>
        @_localizer["Back"]
    </a>
    @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditLabs))
        {
            <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminExercises" asp-action="ShowCreateExerciseForm" asp-route-labId="@lab.Id">
                <i class="bi bi-plus"></i>
                @_localizer["CreateExercise"]
            </a>
        }
</div>

<h1 class="header">
    @_localizer["Title", lab.Name]
</h1>
<hr class="header">


<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">@_localizer["Exercises:ID"]</th>
        <th scope="col">@_localizer["Exercises:Number"]</th>
        <th scope="col">@_localizer["Exercises:Name"]</th>
        <th scope="col">@_localizer["Exercises:BasePoints"]</th>
        <th scope="col">@_localizer["Exercises:PenaltyPoints"]</th>
        <th scope="col">@_localizer["Exercises:Mandatory"]</th>
        <th scope="col">@_localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach(var e in Model)
    {
        <tr>
            <td>@e.Id</td>
            <td>@e.ExerciseNumber</td>
            <td>@e.Name</td>
            <td>@e.BasePoints</td>
            <td>@e.PenaltyPoints</td>
            <td>
                @if(e.IsMandatory)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditLabs))
                {
                    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminExercises" asp-action="ShowEditExerciseForm" asp-route-id="@e.Id">
                        <i class="bi bi-pencil"></i>
                        @_localizer["Edit"]
                    </a>
                    <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-exercise" data-exerciseid="@e.Id" data-exercisename="@e.Name">
                        <i class="bi bi-trash"></i>
                        @_localizer["Delete"]
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-exercise" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_localizer["Modal:DeleteExercise:Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @_localizer["Modal:DeleteExercise:Body"]
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminExercises" asp-action="DeleteExercise" method="post">
                    <input type="hidden" data-replace="exercise-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">@_localizer["Modal:DeleteExercise:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@_localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-exercise").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="exercise-id"]').value = e.relatedTarget.dataset.exerciseid;
    e.target.querySelector('span[data-replace="exercise-name"]').innerText = e.relatedTarget.dataset.exercisename;
});
</script>