@model Ctf4e.Server.Models.Flag
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1 class="header">
    @Localizer["Title"]
</h1>
<hr class="header">

<form asp-controller="AdminFlags" asp-action="EditFlag" method="post">
    <div class="mb-3">
            <label class="form-label" asp-for="Code">@Localizer["Form:Code"]</label>
            <input asp-for="Code" class="form-control font-monospace">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Description">@Localizer["Form:Description"]</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="BasePoints">@Localizer["Form:BasePoints"]</label>
            <input asp-for="BasePoints" class="form-control">
            <span asp-validation-for="BasePoints" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input asp-for="IsBounty" class="form-check-input">
                <label asp-for="IsBounty" class="form-check-label">@Localizer["Form:IsBounty"]</label>
                <small class="form-text text-muted">
                    @Localizer["Form:IsBounty:Description"]
                </small>
            </div>
        </div>

    <input asp-for="LabId" type="hidden">
    <input asp-for="Id" type="hidden">

    <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
    <a asp-controller="AdminFlags" asp-action="RenderFlagList" asp-route-labId="@Model.LabId" class="btn btn-secondary">@Localizer["Form:Cancel"]</a>
</form>