@using Ctf4e.Server.Models
@model List<Flag>
@{
    var lab = (Lab)ViewData["Lab"];
}

<h3 class="header">
    Flags von Praktikum &quot;@lab.Name&quot; verwalten
</h3>
<hr class="header">

<a role="button" class="btn btn-sm btn-primary" asp-controller="AdminFlags" asp-action="ShowCreateFlagForm" asp-route-labId="@lab.Id">
    <i class="bi bi-plus"></i>
    Flag erstellen
</a>
<table class="table table-sm table-bordered table-hover text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Code</th>
        <th scope="col">Beschreibung</th>
        <th scope="col">Basispunktzahl</th>
        <th scope="col">Bug-Bounty?</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var f in Model)
    {
        <tr>
            <td>@f.Id</td>
            <td>@f.Code</td>
            <td>@f.Description</td>
            <td>@f.BasePoints</td>
            <td>
                @if(f.IsBounty)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminFlags" asp-action="ShowEditFlagForm" asp-route-id="@f.Id">
                    <i class="bi bi-pencil"></i>
                    Bearbeiten
                </a>
                <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-flag" data-flagid="@f.Id" data-flagname="@f.Description">
                    <i class="bi bi-trash"></i>
                    Löschen
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-flag" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Flag löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Wollen Sie die Flag mit der Beschreibung &quot;<span data-replace="flag-name"></span>&quot; wirklich löschen?
                </p>
                <p>
                    Beachten Sie, dass hierbei auch alle Flag-Fünde unwiderruflich gelöscht werden!
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminFlags" asp-action="DeleteFlag" method="post">
                    <input type="hidden" data-replace="flag-id" name="id" value="">
                    
                    <button type="submit" class="btn btn-outline-danger">Flag löschen</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-flag").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="flag-id"]').value = e.relatedTarget.dataset.flagid;
    e.target.querySelector('span[data-replace="flag-name"]').innerText = e.relatedTarget.dataset.flagname;
});
</script>