@model Ctf4e.Server.Models.Slot
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Ctf4e.Server.Models
@inject IViewLocalizer Localizer 
@inject ILabService LabService
@{
    var labs = await LabService.GetLabsAsync().ToListAsync(Context.RequestAborted);
}

<h1 class="header">
    @Localizer["Title"]
</h1>
<hr class="header">

<form asp-controller="AdminSlots" asp-action="CreateSlot" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">@Localizer["Form:Name"]</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="DefaultExecuteLabId">@Localizer["Form:DefaultExecuteLabId"]</label>
        <select asp-for="DefaultExecuteLabId" asp-items="@(new SelectList(labs, nameof(Lab.Id), nameof(Lab.Name)))" class="form-select">
            <option value="" selected>@Localizer["Form:DefaultExecuteLabId:Placeholder"]</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="DefaultExecuteLabEnd">@Localizer["Form:DefaultExecuteLabEnd"]</label>
        <input asp-for="DefaultExecuteLabEnd" id="datetime-end" type="text" class="form-control" />
        <span asp-validation-for="DefaultExecuteLabEnd" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
    <a asp-controller="AdminSlots" asp-action="RenderSlotList" class="btn btn-secondary">@Localizer["Form:Cancel"]</a>
</form>

<script>
    flatpickr.localize(flatpickr.l10ns.de);
    
    options = {
                 "altInput": true,
                 "altFormat": "Y-m-d H:i:S",
                 "enableTime": true,
                 "enableSeconds": true,
                 "allowInput": true,
                 "minuteIncrement": 1
             };
    flatpickr(document.getElementById("datetime-end"), options);
</script>