@using Ctf4e.Server.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Authorization
@inject IViewLocalizer Localizer
@model List<Flag>
@{
    var lab = (Lab)ViewData["Lab"];
    
    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="float-end">
    <a class="btn btn-sm btn-secondary" asp-controller="AdminLabs" asp-action="RenderLabList">
        <i class="bi bi-arrow-left"></i>
        @Localizer["Back"]
    </a>
    @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditLabs))
    {
        <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminFlags" asp-action="ShowCreateFlagForm" asp-route-labId="@lab.Id">
            <i class="bi bi-plus"></i>
            @Localizer["CreateFlag"]
        </a>
    }
</div>

<h1 class="header">
    @Localizer["Title", lab.Name]
</h1>
<hr class="header">


<table class="table table-sm table-bordered table-hover align-middle text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">@Localizer["Flags:ID"]</th>
        <th scope="col">@Localizer["Flags:Code"]</th>
        <th scope="col">@Localizer["Flags:Description"]</th>
        <th scope="col">@Localizer["Flags:BasePoints"]</th>
        <th scope="col">@Localizer["Flags:BugBounty"]</th>
        <th scope="col">@Localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    @foreach(var f in Model)
    {
        <tr>
            <td>@f.Id</td>
            <td>@f.Code</td>
            <td>@f.Description</td>
            <td>@f.BasePoints</td>
            <td>
                @if(f.IsBounty)
                {
                    <i class="bi bi-check-circle-fill text-success"></i>
                }
                else
                {
                    <i class="bi bi-x-circle-fill text-danger"></i>
                }
            </td>
            <td>
                @if(currentUser.Privileges.HasPrivileges(UserPrivileges.EditLabs))
                {
                    <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminFlags" asp-action="ShowEditFlagForm" asp-route-id="@f.Id">
                        <i class="bi bi-pencil"></i>
                        @Localizer["Edit"]
                    </a>
                    <a role="button" class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-flag" data-flagid="@f.Id" data-flagname="@f.Description">
                        <i class="bi bi-trash"></i>
                        @Localizer["Delete"]
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-flag" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["Modal:DeleteFlag:Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["Modal:DeleteFlag:Body"]
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminFlags" asp-action="DeleteFlag" method="post">
                    <input type="hidden" data-replace="flag-id" name="id" value="">
                    
                    <button type="submit" class="btn btn-outline-danger">@Localizer["Modal:DeleteFlag:Submit"]</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("modal-delete-flag").addEventListener("show.bs.modal", function(e)
{
    e.target.querySelector('input[data-replace="flag-id"]').value = e.relatedTarget.dataset.flagid;
    e.target.querySelector('span[data-replace="flag-name"]').innerText = e.relatedTarget.dataset.flagname;
});
</script>