@using Microsoft.AspNetCore.Mvc.Localization
@model Ctf4e.Server.ViewModels.AdminScoreboard
@inject IViewLocalizer _localizer

<h1 class="header">
    @_localizer["Title"]
</h1>
<hr class="header">

<h2 class="header">
    @_localizer["ExercisesTitle"]
</h2>

<table class="table table-sm" id="exercises-table">
    <thead>
    <tr>
        <th></th>
        <th scope="col">@_localizer["Exercises:Number"]</th>
        <th scope="col">@_localizer["Exercises:Name"]</th>
        <th scope="col">@_localizer["Exercises:Passed"]</th>
        <th scope="col">@_localizer["Exercises:Points"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var exercise in Model.ExerciseStatistics)
    {
        <tr>
            <th scope="row">#@exercise.Exercise.Id</th>
            <td>@exercise.Exercise.ExerciseNumber</td>
            <td>
                @exercise.Exercise.Name
                @if(exercise.Exercise.IsMandatory)
                {
                    <span class="badge bg-info text-light">@_localizer["Mandatory"]</span>
                }
            </td>
            <td>
                @exercise.PassedCount
            </td>
            <td>
                <span class="text-success">@exercise.Exercise.BasePoints</span>
                /
                <span class="text-danger">@exercise.Exercise.PenaltyPoints</span>
            </td>
        </tr>
    }
    </tbody>
</table>


<h2 class="header">
    @_localizer["FlagsTitle"]
</h2>

<table class="table table-sm" id="flags-table">
    <thead>
    <tr>
        <th></th>
        <th scope="col">@_localizer["Flags:Description"]</th>
        <th scope="col">@_localizer["Flags:Submissions"]</th>
        <th scope="col">@_localizer["Flags:Points"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var flag in Model.FlagStatistics)
    {
        <tr>
            <th scope="row">#@flag.Flag.Id</th>
            <td>
                @flag.Flag.Description
                @if(flag.Flag.IsBounty)
                {
                    <i class="bi bi-bug-fill text-primary" title="@_localizer["BugBounty"]"></i>
                }
            </td>
            <td>
                @flag.SubmissionCount
            </td>
            <td>
                @flag.CurrentPoints / @flag.Flag.BasePoints
            </td>
        </tr>
    }
    </tbody>
</table>