@model List<Ctf4e.Server.Models.Slot>

<h3 class="text-primary">
    Slots verwalten
</h3>
<hr class="bg-primary" style="height: 2px">

<a role="button" class="btn btn-sm btn-primary" asp-controller="AdminSlots" asp-action="ShowCreateSlotForm">
    <span class="oi oi-plus"></span>
    Slot erstellen
</a>
<table class="table table-sm table-bordered table-hover text-nowrap mt-2">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gruppen</th>
        <th scope="col">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Groups.Count</td>
            <td>
                <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminSlots" asp-action="ShowEditSlotForm" asp-route-id="@s.Id">
                    <span class="oi oi-pencil"></span>
                    Bearbeiten
                </a>
                @if(!s.Groups.Any())
                {
                    <a role="button" class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#modal-delete-slot" data-slot-id="@s.Id" data-slot-name="@s.Name">
                        <span class="oi oi-trash"></span>
                        Löschen
                    </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="modal-delete-slot" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Slot löschen</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Wollen Sie den Slot &quot;<span data-replace="slot-name"></span>&quot; wirklich löschen?
                </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="AdminSlots" asp-action="DeleteSlot" method="post">
                    <input type="hidden" data-replace="slot-id" name="id" value="">

                    <button type="submit" class="btn btn-outline-danger">Slot löschen</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        $('#modal-delete-slot').on('show.bs.modal', function (e) {
            var slotId = $(e.relatedTarget).data('slot-id');
            var slotName = $(e.relatedTarget).data('slot-name');
            $(e.currentTarget).find('span[data-replace="slot-name"]').text(slotName);
            $(e.currentTarget).find('input[data-replace="slot-id"]').val(slotId);
        });
    </script>