@model Ctf4e.Server.Models.Slot
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Ctf4e.Server.Models
@using Ctf4e.Server.Services
@inject IViewLocalizer Localizer 
@inject ILabService LabService
@{
    var labs = await LabService.GetLabsAsync().ToListAsync(Context.RequestAborted);
}

<h1 class="header">
    @Localizer["Title"]
</h1>
<hr class="header">

<form asp-controller="AdminSlots" asp-action="EditSlot" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">@Localizer["Form:Name"]</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>                     

    <div class="mb-3">
        <label class="form-label" asp-for="DefaultExecuteLabId">@Localizer["Form:DefaultExecuteLabId"]</label>
        <select asp-for="DefaultExecuteLabId" asp-items="@(new SelectList(labs, nameof(Lab.Id), nameof(Lab.Name)))" class="form-select">
            <option value="" selected>@Localizer["Form:DefaultExecuteLabId:Placeholder"]</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="DefaultExecuteLabEnd">@Localizer["Form:DefaultExecuteLabEnd"]</label>
        <input asp-for="DefaultExecuteLabEnd" id="datetime-end" type="text" class="form-control" />
        <span asp-validation-for="DefaultExecuteLabEnd" class="text-danger"></span>
    </div>
    
    @if(Model.Groups?.Any() == true)
    {
        <div class="mb-3">
            <label class="form-label">@Localizer["Groups"]</label>
            <table class="table table-sm table-bordered table-hover text-nowrap">
                <tbody>
                @foreach(var g in Model.Groups)
                {
                    <tr>
                        <td>@g.DisplayName (#@g.Id)</td>
                        <td>
                            <a role="button" class="btn btn-sm btn-primary" asp-controller="AdminGroups" asp-action="ShowEditGroupForm" asp-route-id="@g.Id">
                                <i class="bi bi-pencil"></i>
                                @Localizer["Groups:Edit"]
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <input asp-for="Id" type="hidden">

    <button type="submit" class="btn btn-primary">@Localizer["Form:Submit"]</button>
    <a asp-controller="AdminSlots" asp-action="RenderSlotList" class="btn btn-secondary">@Localizer["Form:Cancel"]</a>
</form>   

<script>
    flatpickr.localize(flatpickr.l10ns.de);
    
    options = {
                 "altInput": true,
                 "altFormat": "Y-m-d H:i:S",
                 "enableTime": true,
                 "enableSeconds": true,
                 "allowInput": true,
                 "minuteIncrement": 1
             };
    flatpickr(document.getElementById("datetime-end"), options);
</script>