@using Ctf4e.Server.Services
@using Ctf4e.Server.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IConfigurationService ConfigurationService
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Aufgaben";

    var groupScoreboard = (UserScoreboard)ViewData["Scoreboard"];
}

<div class="container">
@if(groupScoreboard != null)
{
    <div class="float-end">
        @if(groupScoreboard.HasPassed)
        {
            <span class="badge bg-success" style="font-size: 1rem;">
                <i class="bi bi-check-circle"></i>
                @Localizer["Passed"]
            </span>
        }
    </div>

    <h3 class="header">
        @Localizer["Lab"]: @groupScoreboard.CurrentLab.Name
    </h3>
    <hr class="header">

    switch(groupScoreboard.LabExecutionStatus)
    {
        case ScoreboardGroupStatus.Undefined:
            <span class="badge bg-secondary">@Localizer["LabExecutionStatus:Undefined:Title"]</span>
            <p>@Localizer["LabExecutionStatus:Undefined:Text"]</p>
            break;
        case ScoreboardGroupStatus.BeforePreStart:
            <span class="badge bg-secondary">@Localizer["LabExecutionStatus:BeforePreStart:Title"]</span>
            <p>@Localizer["LabExecutionStatus:BeforePreStart:Text", groupScoreboard.LabExecution.PreStart]</p>
            break;
        case ScoreboardGroupStatus.PreStart:
            <span class="badge bg-secondary">@Localizer["LabExecutionStatus:PreStart:Title"]</span>
            <p>@Localizer["LabExecutionStatus:PreStart:Text", groupScoreboard.LabExecution.Start]</p>
            break;
        case ScoreboardGroupStatus.Start:
            <span class="badge bg-secondary">@Localizer["LabExecutionStatus:Start:Title"]</span>
            <p>@Localizer["LabExecutionStatus:Start:Text", groupScoreboard.LabExecution.End]</p>
            break;
        case ScoreboardGroupStatus.End:
            <span class="badge bg-secondary">@Localizer["LabExecutionStatus:End:Title"]</span>
            <p>@Localizer["LabExecutionStatus:End:Text"]</p>
            break;
    }

    if(groupScoreboard.LabExecutionStatus != ScoreboardGroupStatus.Undefined && groupScoreboard.LabExecutionStatus != ScoreboardGroupStatus.BeforePreStart)
    {
        <a class="btn btn-primary" asp-controller="UserDashboard" asp-action="CallLabServer" asp-route-labId="@groupScoreboard.LabId" target="_blank">
            <i class="bi bi-arrow-return-right"></i>
            <i class="bi bi-hdd-network"></i>
            @Localizer["LabServer"]
        </a>    }

    <h5 class="header">
        @Localizer["Exercises"]
    </h5>
    <hr class="header-secondary">

    foreach(var exercise in groupScoreboard.Exercises)
    {
        <div class="card mb-2">
            <div class="card-header" id="exercise@(exercise.Exercise.Id)-card-heading" style="cursor: pointer" data-bs-toggle="collapse" data-bs-target="#exercise@(exercise.Exercise.Id)-card">
                <div class="row">
                    <div class="col">
                        @exercise.Exercise.Name
                        @if(exercise.Exercise.IsMandatory)
                        {
                            <span class="badge bg-info">@Localizer["Mandatory"]</span>
                        }
                    </div>
                    <div class="col col-auto ms-auto">
                        <span class="badge bg-light text-dark">@Localizer["Exercises:SubmissionStatistic", exercise.ValidTries, exercise.Tries]</span>
                        @if(exercise.Passed)
                        {
                            <span class="badge bg-primary">@exercise.Points @Localizer["Points"]</span>
                            <i class="bi bi-check-circle-fill  text-success" title="@Localizer["Solved"]"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill  text-danger" title="@Localizer["NotSolved"]"></i>
                        }
                    </div>
                </div>
            </div>
            <div id="exercise@(exercise.Exercise.Id)-card" class="collapse @(exercise.Submissions.Any() ? "show" : ""))">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">@Localizer["ExerciseSubmissions:Timestamp"]</th>
                            <th scope="col">@Localizer["ExerciseSubmissions:Correct"]</th>
                            <th scope="col">@Localizer["ExerciseSubmissions:GroupMember"]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var submission in exercise.Submissions)
                        {
                            <tr>
                                <td>
                                    @submission.SubmissionTime.ToString("G")
                                    @if(submission.SubmissionTime < (groupScoreboard.LabExecution?.PreStart ?? DateTime.MinValue) || submission.SubmissionTime >= (groupScoreboard.LabExecution?.End ?? DateTime.MinValue))
                                    {
                                        <span class="badge bg-warning" title="@Localizer["ExerciseSubmissions:Invalid"]">@Localizer["Invalid"]</span>
                                    }
                                </td>
                                <td>
                                    @if(submission.ExercisePassed)
                                    {
                                        <i class="bi bi-check-circle-fill  text-success align-middle"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-x-circle-fill  text-danger align-middle"></i>
                                    }
                                </td>
                                <td>
                                    @groupScoreboard.GroupMembers[submission.UserId]
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <div>
        <h5 class="header">
            @Localizer["Flags"]
        </h5>
        <hr class="header-secondary">
    </div>

    <form asp-controller="UserDashboard" asp-action="SubmitFlag" asp-route-labId="@groupScoreboard.LabId" class="mb-3">
        <div class="mb-3">
            <label class="form-label" for="input-flag-code">@Localizer["Flags:FlagCode"]</label>
            <input type="text" class="form-control font-monospace" name="code" id="input-flag-code" placeholder="CTF{1n5er7-f14g-c0de-here-37a12d}">
        </div>

        <button type="submit" class="btn btn-primary">
            <span class="bi bi-flag-fill"></span>
            @Localizer["Flags:SubmitFlag"]
        </button>
    </form>
    <div class="card mb-2">
        <div class="card-header" id="flag-list-card-heading" style="cursor: pointer" data-bs-toggle="collapse" data-bs-target="#flag-list-card">
            <div class="row">
                <div class="col">
                    @Localizer["Flags:FoundFlags"]
                </div>
                <div class="col col-auto ms-auto">
                    <span class="badge bg-light text-dark">
                        @Localizer["Flags:SubmissionStatistic", groupScoreboard.ValidFoundFlagsCount, groupScoreboard.FoundFlagsCount]
                    </span>
                </div>
            </div>
        </div>
        <div id="flag-list-card" class="collapse">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">@Localizer["FlagSubmissions:Timestamp"]</th>
                        <th scope="col">@Localizer["FlagSubmissions:Code"]</th>
                        <th scope="col">@Localizer["FlagSubmissions:GroupMember"]</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach(var flagSubmission in groupScoreboard.Flags)
                    {
                        <tr>
                            <td>
                                @flagSubmission.SubmissionTime.ToString("G")
                                @if(!flagSubmission.Valid)
                                {
                                    <span class="badge bg-warning" title="@Localizer["FlagSubmissions:Invalid"]">@Localizer["Invalid"]</span>
                                }
                            </td>
                            <td>
                                <code>@flagSubmission.FlagCode</code>
                            </td>
                            <td>
                                @groupScoreboard.GroupMembers[flagSubmission.UserId]
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h5 class="header">
        @Localizer["SwitchLab:Title"]
    </h5>
    <hr class="header-secondary">

    <form asp-controller="UserDashboard" asp-action="RenderLabPage" method="get">
        <div class="mb-3">
            <label class="form-label" for="input-lab-id">@Localizer["Lab"]</label>
            <select id="input-lab-id" name="labId" class="form-control" onchange="this.form.submit()">
                @foreach(var lab in groupScoreboard.Labs)
                {
                    <option value="@lab.LabId" selected="@(groupScoreboard.LabId == lab.LabId)">
                        @lab.Name
                        @if(lab.Active)
                        {
                            @:(@Localizer["SwitchLab:Active"])
                        }
                    </option>                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="bi bi-arrow-return-right"></i>
            @Localizer["SwitchLab:Submit"]
        </button>
    </form>}
</div>