@using Ctf4e.Server.Services
@using Ctf4e.Server.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using Ctf4e.Server.Models
@using Ctf4e.Server.Authorization
@inject IConfigurationService _configurationService
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["HtmlTitle"];

    var userScoreboard = (UserScoreboard)ViewData["Scoreboard"];

    var currentUser = (User)ViewData["CurrentUser"];
}

<div class="container">
@if(userScoreboard != null)
{
    <div class="float-end">
        @if(userScoreboard.HasPassed)
        {
            <span class="badge bg-success" style="font-size: 1rem;">
                <i class="bi bi-check-circle"></i>
                @_localizer["Passed"]
            </span>
        }
    </div>

    <h1 class="header @(!userScoreboard.CurrentLab.Visible ? "fst-italic" : "")">
        @if(!userScoreboard.CurrentLab.Visible)
        {
            <i class="bi bi-lock-fill" title="@_localizer["LabHidden"]"></i>
        }
        @_localizer["Lab"]: @userScoreboard.CurrentLab.Name
    </h1>
    <hr class="header">

    switch(userScoreboard.LabExecutionStatus)
    {
        case ScoreboardGroupStatus.Undefined:
            <span class="badge bg-secondary">@_localizer["LabExecutionStatus:Undefined:Title"]</span>
            <p>@_localizer["LabExecutionStatus:Undefined:Text"]</p>
            break;
        case ScoreboardGroupStatus.BeforePreStart:
            <span class="badge bg-secondary">@_localizer["LabExecutionStatus:BeforePreStart:Title"]</span>
            <p>@_localizer["LabExecutionStatus:BeforePreStart:Text", userScoreboard.LabExecution.PreStart]</p>
            break;
        case ScoreboardGroupStatus.PreStart:
            <span class="badge bg-secondary">@_localizer["LabExecutionStatus:PreStart:Title"]</span>
            <p>@_localizer["LabExecutionStatus:PreStart:Text", userScoreboard.LabExecution.Start]</p>
            break;
        case ScoreboardGroupStatus.Start:
            <span class="badge bg-secondary">@_localizer["LabExecutionStatus:Start:Title"]</span>
            <p>@_localizer["LabExecutionStatus:Start:Text", userScoreboard.LabExecution.End]</p>
            break;
        case ScoreboardGroupStatus.End:
            <span class="badge bg-secondary">@_localizer["LabExecutionStatus:End:Title"]</span>
            <p>@_localizer["LabExecutionStatus:End:Text"]</p>
            break;
    }

    if(userScoreboard.LabExecutionStatus != ScoreboardGroupStatus.Undefined && userScoreboard.LabExecutionStatus != ScoreboardGroupStatus.BeforePreStart)
    {
        <a class="btn btn-primary" asp-controller="UserDashboard" asp-action="CallLabServer" asp-route-labId="@userScoreboard.LabId" target="_blank">
            <i class="bi bi-arrow-return-right"></i>
            <i class="bi bi-hdd-network"></i>
            @_localizer["LabServer"]
        </a>
    }

    <h2 class="header">
        @_localizer["Exercises"]
    </h2>
    <hr class="header-secondary">

    foreach(var exercise in userScoreboard.Exercises)
    {
        <div class="card mb-2">
            <div class="card-header cursor-link collapsed" id="exercise@(exercise.Exercise.Id)-card-heading" data-bs-toggle="collapse" data-bs-target="#exercise@(exercise.Exercise.Id)-card">
                <div class="row">
                    <div class="col col-auto collapsible-card-heading collapsed pe-0" data-bs-toggle="collapse" data-bs-target="#exercise@(exercise.Exercise.Id)-card"></div>
                    <div class="col">
                        @exercise.Exercise.Name
                        @if(exercise.Exercise.IsMandatory)
                        {
                            <span class="badge bg-info">@_localizer["Mandatory"]</span>
                        }
                    </div>
                    <div class="col col-auto ms-auto">
                        <span class="badge bg-light text-dark">@_localizer["Exercises:SubmissionStatistic", exercise.ValidTries, exercise.Tries]</span>
                        @if(exercise.Passed)
                        {
                            <span class="badge bg-primary">@exercise.Points @_localizer["Points"]</span>
                            <i class="bi bi-check-circle-fill  text-success" title="@_localizer["Solved"]"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill  text-danger" title="@_localizer["NotSolved"]"></i>
                        }
                    </div>
                </div>
            </div>
            <div id="exercise@(exercise.Exercise.Id)-card" class="collapse">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">@_localizer["ExerciseSubmissions:Timestamp"]</th>
                            <th scope="col">@_localizer["ExerciseSubmissions:Correct"]</th>
                            <th scope="col">@_localizer["ExerciseSubmissions:GroupMember"]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var submission in exercise.Submissions)
                        {
                            <tr>
                                <td>
                                    @submission.SubmissionTime.ToString("G")
                                    @if(submission.SubmissionTime < (userScoreboard.LabExecution?.PreStart ?? DateTime.MinValue) || submission.SubmissionTime >= (userScoreboard.LabExecution?.End ?? DateTime.MinValue))
                                    {
                                        <span class="badge bg-warning" title="@_localizer["ExerciseSubmissions:Invalid"]">@_localizer["Invalid"]</span>
                                    }
                                </td>
                                <td>
                                    @if(submission.ExercisePassed)
                                    {
                                        <i class="bi bi-check-circle-fill  text-success align-middle"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-x-circle-fill  text-danger align-middle"></i>
                                    }
                                </td>
                                <td>
                                    @userScoreboard.GroupMembers[submission.UserId]
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <div>
        <h2 class="header">
            @_localizer["Flags"]
        </h2>
        <hr class="header-secondary">
    </div>

    <form asp-controller="UserDashboard" asp-action="SubmitFlag" asp-route-labId="@userScoreboard.LabId" class="mb-3">
        <div class="mb-3">
            <label class="form-label" for="input-flag-code">@_localizer["Flags:FlagCode"]</label>
            <input type="text" class="form-control font-monospace" name="code" id="input-flag-code" placeholder="CTF{1n5er7-f14g-c0de-here-37a12d}">
        </div>

        <button type="submit" class="btn btn-primary">
            <span class="bi bi-flag-fill"></span>
            @_localizer["Flags:SubmitFlag"]
        </button>
    </form>
    <div class="card mb-2">
        <div class="card-header" id="flag-list-card-heading" style="cursor: pointer" data-bs-toggle="collapse" data-bs-target="#flag-list-card">
            <div class="row">
                <div class="col">
                    @_localizer["Flags:FoundFlags"]
                </div>
                <div class="col col-auto ms-auto">
                    <span class="badge bg-light text-dark">
                        @_localizer["Flags:SubmissionStatistic", userScoreboard.ValidFoundFlagsCount, userScoreboard.FoundFlagsCount]
                    </span>
                    @if(userScoreboard.HasFoundAllFlags)
                    {
                        <span class="badge bg-success text-light py-2">
                            <i class="bi bi-check-circle"></i>
                            @_localizer["Flags:AllFound"]
                        </span>
                    }
                </div>
            </div>
        </div>
        <div id="flag-list-card" class="collapse">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">@_localizer["FlagSubmissions:Timestamp"]</th>
                        <th scope="col">@_localizer["FlagSubmissions:Code"]</th>
                        <th scope="col">@_localizer["FlagSubmissions:GroupMember"]</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach(var flagSubmission in userScoreboard.Flags)
                    {
                        <tr>
                            <td>
                                @flagSubmission.SubmissionTime.ToString("G")
                                @if(!flagSubmission.Valid)
                                {
                                    <span class="badge bg-warning" title="@_localizer["FlagSubmissions:Invalid"]">@_localizer["Invalid"]</span>
                                }
                            </td>
                            <td>
                                <code>@flagSubmission.FlagCode</code>
                            </td>
                            <td>
                                @userScoreboard.GroupMembers[flagSubmission.UserId]
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h2 class="header">
        @_localizer["SwitchLab:Title"]
    </h2>
    <hr class="header-secondary">

    <form asp-controller="UserDashboard" asp-action="RenderLabPage" method="get">
        <div class="mb-3">
            <label class="form-label" for="input-lab-id">@_localizer["Lab"]</label>
            <select id="input-lab-id" name="labId" class="form-control" onchange="this.form.submit()">
                @foreach(var lab in userScoreboard.Labs)
                {
                    if(!lab.Visible && !currentUser.Privileges.HasAnyPrivilege(UserPrivileges.ViewAdminScoreboard | UserPrivileges.ViewLabs))
                    {
                        continue;
                    }

                    <option value="@lab.LabId" selected="@(userScoreboard.LabId == lab.LabId)">
                        @lab.Name
                        @if(lab.Active)
                        {
                            @:(@_localizer["SwitchLab:Active"])
                        }
                        @if(!lab.Visible)
                        {
                            @:(@_localizer["SwitchLab:Hidden"])
                        }
                    </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="bi bi-arrow-return-right"></i>
            @_localizer["SwitchLab:Submit"]
        </button>
    </form>
}
</div>